if currentUser
  block sidebar
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    nav(class="nav flex-column border-right")
        a(class="nav-link active" href='/database/pay') All Pays
        a(class="nav-link active" href='/database/restaurant') All Restaurants
        a(class="nav-link active" href='/database/user') All Users
        a(class="nav-link active" href='/scraper') All Jobs
        a(class="nav-link active" href='/database/pay/create') Create new pay
        a(class="nav-link active" href='/database/restaurant/create') Create new restaurant
