block primary
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    div(class="d-flex flex-column" style='height: 100vh; width: 100vw;')
        div(class="p-2 d-flex flex-row justify-content-between bg-primary" style="min-height: 50px; height: 10%")
            div
                h2(class='text-white') Omaha Server App Backend
            div
                a(class='p-2 text-white text-decoration-none' href='/auth/login') Login
                a(class='p-2 text-white text-decoration-none'  href='auth/signup') Sign Up
        div(class="p-2" style='background-image: url(/images/omaha.jpg); background-size: cover; height: 95%;')
        
            