extends layout

block primary
  if currentUser
      h1= title
      each restaurant in restaurant_list
        div
          a(href=restaurant.url class='text-decoration-none') #{restaurant.name} | #{restaurant.zip_code}
