extends layout

block content
    h1 Sign Up New Admin
    form(action="" method="POST")
        div.form-group
            label(for='username') Username 
            input#username.form-control(type='text', placeholder='admin123' name='username' required='true')
            label(for='password') Password :
            input#password.form-control(type='password', name='password' required='true')
        div.form-group
        button.btn.btn-primary(type='submit') Submit