extends layout

block primary
    div(style='padding: 25px')
        form( method="POST" action="")
            #error
                if error
                    p.text-danger Error!!!

            h1(class=h1Classes) Please sign up
            div(class="form-group w-50")
                div
                    label( for="username" style="margin-right: 5px") Username
                    input(type="text" name="username" id="username" required)
                div
                    label(for="inputPassword" style="margin-right: 11px") Password
                    input(type="password" name="password" id="password" required)
            button(class="btn btn-primary") Sign up
block sidebar