extends layout

block primary
  if currentUser
    div(class='card' style='padding: 10px') 
      h2(class='card-title') User: #{user.id}
      div(class='card-body')
        p Name: #{user.username}
        if user_pays.length
            h4 Pay records
            dl
            each pay in user_pays
              dt
                a(href=pay.url) #{pay.id}
              dd
