extends layout

block content
  if currentUser
    h1 User: #{user.id}

    div(style='margin-left:20px;margin-top:20px')

      p Name: #{user.username}


    if user_pays.length

      div(style='margin-left:20px;margin-top:20px')

        h4 Pay records

        dl
        each pay in user_pays
          dt
            a(href=pay.url) #{pay.id}
          dd 
  else
    a(href='/auth/login') Login 
    a(href='auth/signup') Sign Up
